.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.active{
    background-color: #2d6b30;
}
.inactive {
    background-color: #9c9c9c;
}
.content__data{
    margin-right: 30px;
}
.message-error{
    color:#d11d1d;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.form-check-input:checked{
    border-color: #198754;
    background-color: #198754;
}
.form-check-input:focus{
    border-color: #198754FF;
}
